# Config options for tester app

# Copyright (c) 2023 Codecoup
# SPDX-License-Identifier: Apache-2.0

menu "Bttester configuration"

module = BTTESTER
module-str = bttester
source "subsys/logging/Kconfig.template.log_config"

config BTTESTER_BTP_CMD_THREAD_STACK_SIZE
	int "BTP CMD threads stack size."
	default 2048
	help
	  Stack size in byte used by the BTP CMD thread.

config BTTESTER_GATTC_FORCE_EATT_READ_MULT_VAR
	bool "Force GATTC Read Multiple Variable over EATT only"
	depends on BT_EATT
	help
	  Force BTP GATTC READ_MULTIPLE_VAR to use enhanced ATT bearers only.
	  Intended for PTS flows that explicitly require EATT bearers.

endmenu

source "Kconfig.zephyr"
